.pt-3-half {
    padding-top: 1.4rem;
}

#textInput1, #textInput2, #textInput3, #textInput4, #textInput5, #textInput6, #textInput7, #textInput8, #textInput9 {
    display: inline;
    background-color: white;
    border-style: none;
    font-weight: bold;
    color: black;
}

#RCLevel {
    display: inline;
}