#textInput1[b-9hpcu0cak5], #textInput2[b-9hpcu0cak5], #textInput3[b-9hpcu0cak5], #textInput4[b-9hpcu0cak5] {
    display: inline;
    background-color: white;
    border-style: none;
    font-weight: bold;
    color: black;
}
