
@page "/skill/index"

<h3>Your Skills: </h3>


<table class="table">
    <thead>
        <tr>
            <th>Skillname </th>
            <th>Skilltyp </th>
            <th>Edit </th>
            <th>Delete </th>
            <th>Create </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>a </td>
            <td>b </td>
            <td><button type="button" class="btn btn-secondary">edit</button> </td>
            <td><button type="button" class="btn btn-secondary">delete</button> </td>
            <td><button type="button" class="btn btn-secondary">create</button> </td>
        </tr>
        <tr>
            <td>a </td>
            <td>b </td>
            <td><button type="button" class="btn btn-secondary">edit</button> </td>
            <td><button type="button" class="btn btn-secondary">delete</button> </td>
            <td><button type="button" class="btn btn-secondary">create</button> </td>
        </tr>
        <tr>
            <td>a </td>
            <td>b </td>
            <td><button type="button" class="btn btn-secondary">edit</button> </td>
            <td><button type="button" class="btn btn-secondary">delete</button> </td>
            <td><button type="button" class="btn btn-secondary">create</button> </td>
        </tr>
        <tr>
            <td>a </td>
            <td>b </td>
            <td><button type="button" class="btn btn-secondary">edit</button> </td>
            <td><button type="button" class="btn btn-secondary">delete</button> </td>
            <td><button type="button" class="btn btn-secondary">create</button> </td>
        </tr>
    </tbody>
</table>



@code {



}
