body {
    background-color: rgb(187, 207, 156);
}
.nav{
    background-color: rgb(101, 168, 0);
    border-width:1px ;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:12px;
    color: white;
    text-decoration: none;
}
.Buchungen {
    margin-left: 38.5%;
}
table {
    margin-left: 38.5%;
}

.frame {
    
    display: flex;
    height: 250px;
      justify-content: center; align
    
  }


   th {
    border: 1px ;
    background-color: rgb(101, 168, 0);
    color: white;
    
  }
  .weiß {
    background-color: rgb(255, 255, 255);
  }