


#myInput[b-hxr6pi2wzn] {
    
    background-repeat: no-repeat;
    
    
}

#myTable[b-hxr6pi2wzn] {
    border-collapse: collapse;
    width:100%;
    
    
}

    #myTable th[b-hxr6pi2wzn],
    #myTable td[b-hxr6pi2wzn] {
       
    }

    #myTable tr[b-hxr6pi2wzn] {
        
    }

        #myTable tr.header[b-hxr6pi2wzn],
        #myTable tr:hover[b-hxr6pi2wzn] {
            
        }