
# for more 'dotnet new gitignore'

# non dotnet Files
#   mac
.DS_Store
#   backup
*.*~
#   python
*.pyc


# like  Team14.csproj.user
*.user

# Build results
[Bb]in/
[Oo]bj/


# Visual Studio 2019
.vs/
# Visual Studio Code
.vscode/
# Rider
.rider/



