<div class="card" style="width: 18rem; background-color: white">
    <div class="card-body">
        <h2 class="card-title">@header</h2>
        <ul class="dashed">
            <li>Vorname: @_Vorname</li>
            <li>Nachname: @_Nachname</li>
            @foreach (var pro in _Projekte)
            {
                <li> @pro </li>
            }
            <li>Geburtstag: @_Geburtstag.ToString("dd.MM.yyyy")</li>
        </ul>
    </div>
    <style>
        .card {
            display: inline-block;
        }

        ul {
            margin: 0;
        }

            ul.dashed {
                list-style-type: none;
            }

                ul.dashed > li {
                    text-indent: -5px;
                }

                    ul.dashed > li:before {
                        content: "-";
                        text-indent: -5px;
                    }
    </style>
</div>

@code {

    [Parameter]
    public string header { get; set; }

    [Parameter]
    public string _Vorname { get; set; }
    [Parameter]
    public string _Nachname { get; set; }
    [Parameter]
    public List<string> _Projekte { get; set; }
    [Parameter]
    public DateTime _Geburtstag { get; set; }

}

