@using Team14.Data


<div class="card" style="width: 18rem;">
    <!--https://getbootstrap.com/docs/4.0/components/card/#list-groups-->
    <div class="card-header">
        @_content.Vorname @_content.Nachname
    </div>
    @if ( _content.Projekte != null) {
        <ol class="list-group list-group-numbered">
            @foreach (var project in _content.Projekte)
            {
                <li class="list-group-item" style="display: list-item; margin-left: 30px;">@project</li>
            }
        </ol>
    } else {<div class="alert alert-warning">faul</div>}

    
    <div class="card-body">
        <p class="card-text">geboren am @_content.Birthday.Date.ToString("dd.MM.yyyy")</p>
    </div>
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    private Employee _content;

    [Parameter]
    public Employee Content{
        set { _content = value; }
    }

}