@page "/skill/edit/{Id: int}"
@page "/skill/edit"
@using Team14.Data
@inject ISkillService skillService

<h3>EditSkill</h3>
@if (Id != null)
{
    int id = Int32.Parse(Id);
        Skill skill = skillService.GetSkill(id);
    if (skill!= null)
    {
                    <h1>Skill bearbeiten</h1>
                }
                else
                {
                       <p>neuen Skill anlegen</p>
                }

            }
            else
            {
                <p>neuen Skill anlegen</p>
            }



@code {
    [Parameter]
    public String Id { get; set; }
    
}
