@page "/skill"
@page "/skill/index"

@inject ISkillService SkillService
@using Team14.Data

<h3>IndexSkill</h3>

@if (skills == null)
{
    <p>keine Skills vorhanden</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Skilltyp</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var skills in skills)
        {
            <tr>
                <td>@skills.Name</td>
                <td>@skills.Kategorisierung</td>
                <td>
                    <a class="btn" href="skill/edit/@skills.skillId">edit</a>
                </td>
                <td>
                    <a class="btn" @onclick="() => DeleteArticle(skills.skillId)">delete</a>
                </td>
            </tr>
        }
    </table>
}


@code {
    IEnumerable<Skill> skills;
    protected override void OnInitialized()
    {
        skills = SkillService.GetAllSkills();
        if (skills.Count() == 0)
            skills = null;
    }

    protected void DeleteArticle(int id)
    {
        SkillService.DeleteSkill(id);
    }

}