@using Microsoft.AspNetCore.Components

<style>
    .small-inner {
        padding: 0;
    }

    .nomall {
        padding: 10px;
    }
</style>


<div class="card ml-3 mr-0 my-0">

    <div class="card-header @(SmallInner ? "small-inner" : "nomall")" @onclick="Toggle">
        <span style="@(SmallInner ? "color: #7A212E; font-size: 0.7rem;" : "color: #7A212E; font-size: 1.5rem;")"  > @CardHeaderTitle</span>
        <span class="@BtnClass"></span>
        <span class="float-right" style="font-size: 0.6rem;"> @CardHeader </span>

    </div>

    @if (ShowCardBody)
    {
        <div class="card-body p-0">
            @CardBody
        </div>
    }
</div>

@code {
    [Parameter] public string CardHeaderTitle { get; set; }
    [Parameter] public RenderFragment CardHeader { get; set; }

    [Parameter] public RenderFragment CardBody { get; set; }


    [Parameter] public bool SmallInner { get; set; } = false;
    [Parameter] public bool ShowCardBody { get; set; } = false;
    
    public string BtnClass => ShowCardBody ? "oi oi-caret-top" : "oi oi- oi-caret-bottom";

    public void Toggle()
    {
        ShowCardBody = !ShowCardBody;
    }
}
