@using Microsoft.AspNetCore.Components
@namespace XCV.Shared.Misc

<style>
    .small-inner {
        padding: 0;
    }

    .nomall {
        padding: 10px;
    }
</style>


<div class="card mr-0 my-0">

    <div class="card-header @(SmallInner ? "small-inner" : "nomall")" @onclick="Toggle">
        <span style="@(SmallInner ? "color: #7A212E; font-size: 1.0rem;" : "color: #7A212E; font-size: 1.5rem;")"  > @CardHeaderTitle</span>
        <span class="@BtnClass"></span>
        <span class="float-right" style="font-size: 0.8rem;"> @CardHeader </span>

    </div>

    @if (ShowCardBody.Value)
    {
        <div class="card-body p-0">
            @CardBody
        </div>
    }
</div>

@code {
    [Parameter] public string CardHeaderTitle { get; set; }
    [Parameter] public RenderFragment CardHeader { get; set; }

    [Parameter] public RenderFragment CardBody { get; set; }


    [Parameter] public bool SmallInner { get; set; } = false;
    [Parameter] public ValueWrapper<bool> ShowCardBody { get; set; } = new ValueWrapper<bool>(false);

    public string BtnClass => ShowCardBody.Value ? "oi oi-caret-top" : "oi oi- oi-caret-bottom";

    public void Toggle()
    {
        ShowCardBody.Value = !ShowCardBody.Value;
    }
}
