
*[b-3rdpysct36] {
    box-sizing: border-box;
}

#myInput[b-3rdpysct36] {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable[b-3rdpysct36] {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
}

    #myTable th[b-3rdpysct36],
    #myTable td[b-3rdpysct36] {
        text-align: left;
        padding: 12px;
    }

    #myTable tr[b-3rdpysct36] {
        border-bottom: 1px solid #ddd;
    }

        #myTable tr.header[b-3rdpysct36],
        #myTable tr:hover[b-3rdpysct36] {
            background-color: #f1f1f1;
        }
