@page "/admin"
@attribute [Authorize(Roles = "admin, superadmin")]

<h2>ändere die Datenbasis:</h2>


<textarea id="a" name="a" rows="40" cols="90">
    {
"Branchen":{
    "long": "Branchenwissen",
    "min": 0,
    "max": 5,
    "elements":["Architektur/Bau/Immobilien", "Automobil", "Banken"]
},
"Rollen":{
    "min": 1,
    "einheit" "Jahre"
    "start": "Date",
    "elements":["Developer", "AgileCoach", "UI/UX-Designer"]
},
"languages":{
    "levels": ["mutter", "verhandl", "bischen"],
    "elements":["Deutsch", "Englisch", "Türkisch",]
},
"skills":{
"long": "HardSkills",
"levels": ["Experte", "regelmäßige", "produktiv", "Hobby"],

    "Coding":{
    "long": "Sprachen und Frameworks",
        "P-Sprachen":{
        "long": "Programmiersprachen",
        "elements":["C", "C++,", "C#", "JavaScript", "TypeScript"]
        },
        "Frameworks":{
        "elements":["Angular", "AngularJS", "ASP.NET", "Ruby on Rails"]
        },
        "Bibliotheken":{
        "elements":["RXJS", "Jasmine", "D3.JS", "Bokeh"]
        },
    },

  </textarea>