@page "/super-admin"
@attribute [Authorize(Roles = "superadmin")]


<h2>füge eine Mitrarbeiter hinzu</h2>


        <table>
            <tr>
                <th>Perso-Nr  &nbsp; </th>
                <th>Passwort  &nbsp; </th>
                <th>Vorname  &nbsp; </th>
                <th>Nachname  &nbsp; </th>
                <th>angestellt seit &nbsp; </th>
            </tr>
            <tr>
                <td>001</td>
                <td>0011</td>
                <td>Hans</td>
                <td>Müller</td>
                <td>Mai</td>
            </tr>
            <tr>
                <td>002</td>
                <td>0021</td>
                <td>Uschie</td>
                <td>Mayer</td>
                <td>Juni</td>
            </tr>
            <tr>
                <td> <input type="text" ></td>
                <td>hidden</td>
                <td> <input type="text" ></td>
                <td> <input type="text" ></td>
                <td>Mai</td>
            </tr>
        </table>