@page "/"
@inject IJSRuntime IJS
<h1>Mitarbeitendenübersicht, Team14</h1>

<em>Hier entsteht in Kürze das Softwareprojekt des Team14</em>

<p>
    in der Zwischenzeit können Sie sich gerne die
    <a href="FetchData">Wettervorhersage </a>
    anschauen.
</p>

<div class="d-inline-flex">
    <!--iterates over list defined in code-section-->
    @foreach (var _mitarbeiter in Mitarbeiter)
    {
        <EmployeeShortcard mitarbeiter=@_mitarbeiter />
    }

</div>
<!--<button type="submit" class="btn btn-success" @onclick="ExportClick">Export to Word</button>-->
@code {
}
