body{
    font-size: 1.1em;
    font-family: Arial;
    background-color: #caf0ca;
    text-align:center;
}

#navbar ul{
    list-style-type:none;
    background-color: #017d01;
    color: #caf0ca;
    overflow:hidden;
}

#navbar li{
    display: inline;
    margin-right: 4em;
}

#navbar a:visited, #navbar a:link {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color: black;
    background-color: #caf0ca;
}


img {
    width: 80%;
    height: 75%;
    margin: 1em auto;
}

table {
    width: 75%;
    font-size: 1.3em;
    border-spacing: 0.5em;
    margin: 1em auto;
}
th, td {
    padding: 0.5em;
}


thead {
    background-color: #017d01;
    color: white;
}

tbody tr:nth-child(odd){
    background-color:white;
}

th:hover, td:hover{
    color:white;
    background-color:#00b400;
}
