@page "/EmployeeShortcard"

@using Team14.Data
<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        <link rel="stylesheet" href="css/EmployeeShortcard.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
    <thead>
        <h1>Mitarbeiter:</h1>
    </thead>
    <tbody>
        <div class="container">
            <div class="card-deck">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    @foreach (var Mitarbeitender in Mitarbeitende)
                    {
                        <div class="p-2">
                            <div class="card h-100 w-100">
                                <div class="card-body">
                                    <tr>
                                        <h5 class="card-title">
                                            @Mitarbeitender.Vorname
                                        </h5>
                                        <h5 class="card-title">
                                            @Mitarbeitender.Nachname
                                        </h5>


                                        <p>@Mitarbeitender.Geburtstag.ToString("dd.MM.yyyy")</p>
                                        @foreach (var Project in Mitarbeitender.Projekte)
                                        {
                                            <ul>
                                                <li>@Project</li>
                                            </ul>
                                        }

                                    </tr>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                </div>
                </div>
            </div>
</tbody>
    </body>
</html>

@code {

            List<Employee> Mitarbeitende = new List<Employee>() {
        new Employee("Fabian", "Günaydin", new List<string>() { "Xitaso", "Ludofact" }, new DateTime(2001, 06, 22)),
        new Employee("Moritz", "Boche", new List<string>() { "Xitaso", "Ludofact" }, new DateTime(1998, 02, 26)),
        new Employee("Mario", "Melle", new List<string>() { "Xitaso" }, new DateTime(1900, 01, 01)),
        new Employee("Philipp", "Wagner", new List<string>() { "Xitaso" }, new DateTime(1900, 01, 01)),
        new Employee("Brigitte", "Glogger", new List<string>() { "Xitaso" }, new DateTime(1900, 01, 01)),
        new Employee("Jonathan", "Leis", new List<string>() { "Xitaso", "Polyp Segmentation" }, new DateTime(2001, 02, 23))};

}
