@page "/"
@using Team14.Data

<h1>Mitarbeitendenübersicht, Team14</h1>

<em>Hier entsteht in Kürze das Softwareprojekt des Team14</em>

<p>
    in der Zwischenzeit können Sie sich gerne die
    <a href="FetchData">Wettervorhersage </a>
    anschauen.
</p>

<div class="d-inline-flex">
    @foreach (var _mitarbeiter in Mitarbeiter)
    {
        <EmployeeShortcard mitarbeiter=@_mitarbeiter />
    }
</div>

@code {

    List<Employee> Mitarbeiter = new List<Employee> {

        new Employee()
        {
            Vorname = "Moritz",
            Nachname = "Boche",
            Geburtsdatum = new DateTime(1998, 02, 26),
            Projekte = new List<string> { "SoPro", "Projekt A" }
        },

        new Employee()
        {
            Vorname = "Brigitte",
            Nachname = "Glogger",
            Geburtsdatum = new DateTime(2000, 01, 01),
            Projekte = new List<string> { "SoPro", "Projekt B" }
        },

        new Employee()
        {
            Vorname = "Fabian",
            Nachname = "Günaydin",
            Geburtsdatum = new DateTime(2000, 01, 01),
            Projekte = new List<string> { "SoPro", "Projekt C" }
        },

        new Employee()
        {
            Vorname = "Jonathan",
            Nachname = "Leis",
            Geburtsdatum = new DateTime(2000, 01, 01),
            Projekte = new List<string> { "SoPro", "Projekt d" }
        },

        new Employee()
        {
            Vorname = "Mario",
            Nachname = "Melle",
            Geburtsdatum = new DateTime(2000, 01, 01),
            Projekte = new List<string> { "SoPro", "Projekt E" }
        },

        new Employee()
        {
            Vorname = "Philipp",
            Nachname = "Wagner",
            Geburtsdatum = new DateTime(2000, 01, 01),
            Projekte = new List<string> { "SoPro", "Projekt F" }
        }
    };
}
