@page "/"

<h1>Mitarbeitendenübersicht, Team14</h1>

Hier entsteht in Kürze das Softwareprojekt von Team 14.

<br /> Sie können sich gerne in der Zwischenzeit die <a target="_blank" class="font-weight-bold" href="fetchdata">Wettervorhersage</a> der nächsten Tage ansehen.


