@page "/"

<h1>Mitarbeitendenübersicht, Team14</h1>

Hier entsteht in kürze das SoPro des Teams 14

Sie können sich ja die Zeit mit unserer <a target="_blank" class="font-weight-bold" href="fetchdata"> Wettervorhersage </a> vertreiben!