@page "/"

<h1>Mitarbeitendenübersicht, Team14</h1>

<p>Hier entsteht in kürze das neue innovative Tool des <b>Team14</b></p>
<p>In der Zwischenzeit finden Sie bei uns eine <a href="fetchdata">Wettervorhersage</a> </p>
