@using Team14.Data

<body>  

    <div class="container">
        <div class="card">
            <div class="card-header">
                @preservewhitespace true
                @if (mitarbeiter.Vorname == null)
                    {@standard.Vorname}
                else
                    {@mitarbeiter.Vorname}

                @if (mitarbeiter.Nachname == null)
                    {@standard.Nachname}
                else
                    {@mitarbeiter.Nachname}                
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        Geburtsdatum
                    </div>
                    <div class="col-sm">
                        @if (mitarbeiter.Geburtsdatum.Equals(default))
                            {@standard.Geburtsdatum.ToString("dd.MM.yyyy")}
                         else
                            {@mitarbeiter.Geburtsdatum.ToString("dd.MM.yyyy")}
                    </div>                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm">
                        Projekte
                    </div>
                    <div class="col-sm">
                        @if (mitarbeiter.Projekte == null)
                        {
                            @foreach (var item in standard.Projekte)
                            {
                                @item <br />
                            }
                        }
                        else {

                            @foreach (var item in mitarbeiter.Projekte)
                            {
                                @item <br />
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

@code {
    [Parameter]
    public Employee mitarbeiter { get; set; }
    private Employee standard = new Employee()
    {
        Vorname = "Moritz",
        Nachname = "Boche",
        Geburtsdatum = new DateTime(1998, 02, 26),
        Projekte = new List<string> { "SoPro", "Projekt A" }
    };
}

