body {
  text-align: center;
  background-color: #ddeedd;
  font: 1em Verdana, sans-serif;
}

header {
  background-color: #27a820;
}

main {
  display: inline-block;
  min-width: 500px;
  text-align: left;
}

h2 {
  font-weight: bold;
  font-size: 250%;
  line-height: 150%;
  margin: 0;
}



/* menue */
#top-nav {
  display: inline-block;
  min-width: 550px;
}

#top-nav ul {
  list-style-type: none;
  margin: 0;
}

#top-nav li {
  float: left;
}

#top-nav a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  padding: 5px 15px;
}

#top-nav a:hover {
  background-color: #208810;
}




/* tables*/

th {
  background-color: #27a820;
  padding: 8px;
  color: white;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
th:hover, td:hover {
  background-color: rgb(107, 240, 86);
  color: black;
}

