@page "/skill"
@page "/skill/index"

@using Team14.Data
@inject ISkillService SkillService
@inject NavigationManager NavigationManager


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Skillname</th>
                <th scope="col">Skilltyp</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (SkillList != null)
            {
                @foreach (Skill skill in SkillList)
                {
                    <tr>
                        <th scope="col"> @skill.Name</th>
                        <th scope="col"> @skill.Skilltype</th>
                        <th scope="col">
                            <a href="skill/edit" class="btn btn-success"> New </a>
                            <a href="skill/edit/@skill.Id" class="btn btn-success"> Edit </a>
                            <a class="btn btn-danger" @onclick="() => DeleteArticle(skill.Id)"> Delete</a>
                        </th>
                    </tr>
                }

            }


        </tbody>

    </table>
    <a href="skill/edit" class="btn btn-success"> New </a>

</div>

@code{
    private List<Skill> SkillList;
    protected override void OnInitialized()
    {
        SkillList = SkillService.GetAllSkills();
        if (SkillList.Count() == 0)
            SkillList = null;
    }
    protected void DeleteArticle(int id)
    {
        SkillService.DeleteSkill(id);
        NavigationManager.NavigateTo("Skill", true);
    }

}