@page "/skill"
@page "/skill/index"
@using System.Data
@using System.IO
@using System.Web
@inject NavigationManager NavigationManager
@using Team14.Data
@inject ISkillService SkillService


<table>
    <tr>
        <th>ID</th>
        <th>Skillname</th>
        <th>Skilltyp</th>
        <th></th>
        <th></th>
    </tr>

    @if (skills == null)
    {
        <p>
            keine Skills
        </p>
    }
    else
    {
        @foreach (var skill in skills)
        {
            <tr>
                <td>@skill.Id</td>
                <td>@skill.Name</td>
                <td>@skill.Skilltype</td>
                <td>
                    <a class="btn btn-info" href="skill/edit/@skill.Id">bearbeitn</a>
                </td>
                <td>
                    <a class="btn btn-danger" @onclick="() => DeleteArticle(skill.Id)">Delete</a>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-success" href="skill/edit/new">erstellen</a>


@code {
    IEnumerable<Skill> skills;
    protected override void OnInitialized()
    {
        skills = SkillService.GetAllSkills();
        if (skills.Count() == 0)
            skills = null;
    }

    protected void DeleteArticle(int id)
    {
        SkillService.DeleteSkill(id);

        NavigationManager.NavigateTo("Skill", true);
    }
}
