@page "/"

<h1>Mitarbeitendenübersicht, Team14</h1>

<br />
<h1>Hier entsteht bald das Softwareprojekt</h1>
 Sie können sich ja die Zeit mit unserer <a target="_blank" class="font-weight-bold" href="fetchdata"> Wettervorhersage </a> vertreiben!
